<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}电影天堂_电影下载_高清首发{% endblock %}</title>
	<META content="电影天堂,迅雷电影,电影下载,迅雷电影下载" name=keywords>
	<META content="最好的迅雷电影下载网，分享最新电影，高清电影、综艺、动漫、电视剧等下载！" name=description>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="container">

<div class="header">
	<div class="logo">
		<img src="/static/image/logo.gif">
	</div>
	<div class="nav">
		<ul>
			<li>
			</li><li><a target="_blank" href="#">动作片</a></li>
			<li><a target="_blank" href="#">剧情片</a></li>
			<li><a target="_blank" href="#">爱情片</a></li>
			<li><a target="_blank" href="#">喜剧片</a></li>
			<li><a target="_blank" href="#">科幻片</a></li>
			<li><a target="_blank" href="#">恐怖片</a></li>
			<li><a target="_blank" href="#">动画片</a></li>
			<li><a target="_blank" href="#">惊悚片</a></li>
			<li><a target="_blank" href="#">战争片</a></li>
			<li><a target="_blank" href="#">犯罪片</a></li>
			<li><a target="_blank" href="#">华语连续剧</a></li><li>
			<a target="_blank" href="#">美剧</a></li><li>
			<a target="_blank" href="#">日韩剧</a></li><li>
			<a target="_blank" href="#">综艺</a></li><li>
			<a target="_blank" href="#">动漫资源</a></li><li>
			<a target="_blank" href="http://www.xiacai.com">彩票购买</a></li><li>
			<a target="_blank" href="#" target="_blank">留言板</a></li><li>
			<a target="_blank" href="#" onclick="javascript:window.external.AddFavorite('http://dytt.js101.me/', '电影天堂-dytt')" target="_self"><font color="red">收藏本站</font></a></li><li>
			<a target="_blank" href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://dytt.js101.me/');return(false);" style="behavior: url(#default#homepage)">设为主页</a></li>
		</ul>
	</div>
	<div class="ad">
		<img src="/static/image/0f000PHImIVIUh7Aov0oe6.jpg">
	</div>
	<div class="toolbar">
		<div class="searchbar">
			<form>
				<p>
					<label><strong>搜索:</strong></label>
					<input type="text"></input>
					
					<span>
						<button>立即搜索</button>
					</span>
				</p>
			</form>
		</div>
		<div class="btnbar">
			<img src="/static/image/bbs_btn.gif">
			<img src="/static/image/message_btn.gif">
		</div>
	</div>
</div>

{% block content %}
	
{% endblock %}

{% block footer %}
<div class="footer">
	<div class="ad"></div>
	<div class="copyrignt">
		<p>Copyright @ 2006-2017 All Rights Reserved. 本站所有电影均为网络内容，如有侵权请联系客服删除！</p>
	</div>
</div>
{% endblock %}
</div>
</body>
</html>