{% extends "base.html" %}

{% block content %}
	<div class="content">
		<div class="movie">
			<div class="title">
				<h3>2017新片精品</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.0 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>2017必看热片</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.1 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>迅雷电影资源</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.2 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>六月经典大片</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.3 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>华语电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.4 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>日韩电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.5 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>欧美电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.6 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>综艺&动漫</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				{% for item in records.7 %}
				<li>
					<a target="_blank" href="http://www.dy2018.com/{{ item.url }}" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">{{ item.name }}</a>
					<span>{{ item.pubdate | date:"m-d" }}</span>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}