<!DOCTYPE html>
<html>
<head>
	<title>电影天堂_电影下载_高清首发</title>
	<META content="电影天堂,迅雷电影,电影下载,迅雷电影下载" name=keywords>
	<META content="最好的迅雷电影下载网，分享最新电影，高清电影、综艺、动漫、电视剧等下载！" name=description>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="container">
	<div class="header">
		<div class="logo">
			<img src="/static/image/logo.gif">
		</div>
		<div class="nav">
			<ul>
				<li>
				</li><li><a target="_blank" href="#">动作片</a></li>
				<li><a target="_blank" href="#">剧情片</a></li>
				<li><a target="_blank" href="#">爱情片</a></li>
				<li><a target="_blank" href="#">喜剧片</a></li>
				<li><a target="_blank" href="#">科幻片</a></li>
				<li><a target="_blank" href="#">恐怖片</a></li>
				<li><a target="_blank" href="#">动画片</a></li>
				<li><a target="_blank" href="#">惊悚片</a></li>
				<li><a target="_blank" href="#">战争片</a></li>
				<li><a target="_blank" href="#">犯罪片</a></li>
				<li><a target="_blank" href="#">华语连续剧</a></li><li>
				<a target="_blank" href="#">美剧</a></li><li>
				<a target="_blank" href="#">日韩剧</a></li><li>
				<a target="_blank" href="#">综艺</a></li><li>
				<a target="_blank" href="#">动漫资源</a></li><li>
				<a target="_blank" href="http://www.xiacai.com">彩票购买</a></li><li>
				<a target="_blank" href="#" target="_blank">留言板</a></li><li>
				<a target="_blank" href="#" onclick="javascript:window.external.AddFavorite('http://dytt.js101.me/', '电影天堂-dytt')" target="_self"><font color="red">收藏本站</font></a></li><li>
				<a target="_blank" href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://dytt.js101.me/');return(false);" style="behavior: url(#default#homepage)">设为主页</a></li>
			</ul>
		</div>
		<div class="ad">
			<img src="/static/image/0f000PHImIVIUh7Aov0oe6.jpg">
		</div>
		<div class="toolbar">
			<div class="searchbar">
				<form>
					<p>
						<label><strong>搜索:</strong></label>
						<input type="text"></input>
						
						<span>
							<button>立即搜索</button>
						</span>
					</p>
				</form>
			</div>
			<div class="btnbar">
				<img src="/static/image/bbs_btn.gif">
				<img src="/static/image/message_btn.gif">
			</div>
		</div>
	</div>
	<div class="content">
		<div class="movie">
			<div class="title">
				<h3>2017新片精品</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li>
					<a target="_blank" href="http://www.dy2018.com/i/98220.html" title="2016年香港8.0分剧情片《一念无明》HD高清粤语中字">2016年香港8.0分剧情片《一念无明》HD高清粤语中字</a>
					<span>07-22</span>
				</li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98213.html" title="2017年韩国6.7分动作片《共助》BD韩语中字">2017年韩国6.7分动作片《共助》BD韩语中字</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98209.html" title="2017年国产7.3分剧情片《忠爱无言》HD国语中字">2017年国产7.3分剧情片《忠爱无言》HD国语中字</a><span>07-20</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97979.html" title="2017年美国6.6分动作片《攻壳机动队真人版》BD国英双语中英双字">2017年美国6.6分动作片《攻壳机动队真人版》BD国英双语中英双字</a><span>07-14</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98184.html" title="2017年国产6.1分爱情片《吃吃的爱》HD高清国语中英双字">2017年国产6.1分爱情片《吃吃的爱》HD高清国语中英双字</a><span>07-13</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98178.html" title="2017年美国动作片《新木乃伊》HD韩版高清中英双字">2017年美国动作片《新木乃伊》HD韩版高清中英双字</a><span>07-12</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98167.html" title="2016年日本7.1分喜剧片《我的叔叔》HD日语中字">2016年日本7.1分喜剧片《我的叔叔》HD日语中字</a><span>07-08</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98166.html" title="2016年韩国6.5分动作片《金融决战》BD韩语中字">2016年韩国6.5分动作片《金融决战》BD韩语中字</a><span>07-08</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98084.html" title="2016年印度9.2分动作片《摔跤吧！爸爸》国印双语中字">2016年印度9.2分动作片《摔跤吧！爸爸》国印双语中字</a><span>07-06</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98157.html" title=" 2017年美国7.4分科幻片《异形：契约》HD韩版中英双字"> 2017年美国7.4分科幻片《异形：契约》HD韩版中英双字</a><span>07-03</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98119.html" title="2017年美国6.5分动画片《蓝精灵：寻找神秘村》BD国英双语双字">2017年美国6.5分动画片《蓝精灵：寻找神秘村》BD国英双语双字</a><span>07-03</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98153.html" title="2017年美国7.2分动作片《神奇女侠》HD韩版高清中英双字">2017年美国7.2分动作片《神奇女侠》HD韩版高清中英双字</a><span>07-02</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98020.html" title="2017年美国7.2分动作片《速度与激情8》BD中英双字">2017年美国7.2分动作片《速度与激情8》BD中英双字</a><span>07-02</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98149.html" title="2017年韩国7.3分动作片《被操纵的城市》BD韩语中字">2017年韩国7.3分动作片《被操纵的城市》BD韩语中字</a><span>06-30</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98147.html" title="2017年国产喜剧片《麻烦家族》HD高清国语中英双字">2017年国产喜剧片《麻烦家族》HD高清国语中英双字</a><span>06-29</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>2017必看热片</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/98143.html" title="2015年国产7.8分剧情片《冈仁波齐》DVD中字">2015年国产7.8分剧情片《冈仁波齐》DVD中字</a><span>06-29</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98142.html" title="2017年美国7.4分动作片《亚瑟王：斗兽争霸》HD高清韩版中英双字">2017年美国7.4分动作片《亚瑟王：斗兽争霸》HD高清韩版中英双字</a><span>06-29</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97901.html" title="2017年美国6.8分动作片《金刚：骷髅岛》BD国英双语中英双字">2017年美国6.8分动作片《金刚：骷髅岛》BD国英双语中英双字</a><span>06-27</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98028.html" title="2017年国产6.6分动作片《非凡任务》BD国语中字">2017年国产6.6分动作片《非凡任务》BD国语中字</a><span>06-25</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98133.html" title="2017年国产6.8分动作片《拆弹专家》HD高清国语中英双字">2017年国产6.8分动作片《拆弹专家》HD高清国语中英双字</a><span>06-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98112.html" title="2017年国产6.5分犯罪片《嫌疑人X的献身》HD高清国语中英双字">2017年国产6.5分犯罪片《嫌疑人X的献身》HD高清国语中英双字</a><span>06-18</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98102.html" title="2017年欧美6.7分动作片《超凡战队》BD中英双字">2017年欧美6.7分动作片《超凡战队》BD中英双字</a><span>06-17</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98093.html" title="2017年国产7.5分喜剧片《春娇救志明》HD高清国粤双语中字">2017年国产7.5分喜剧片《春娇救志明》HD高清国粤双语中字</a><span>06-12</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97875.html" title="2017年国产7.0分喜剧片《乘风破浪》BD国语中字">2017年国产7.0分喜剧片《乘风破浪》BD国语中字</a><span>06-11</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98086.html" title="2016年韩国7.2分动作片《阿修罗》BD韩语中字">2016年韩国7.2分动作片《阿修罗》BD韩语中字</a><span>06-09</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98064.html" title="2017年美国6.6分科幻片《异星觉醒》BD中英双字">2017年美国6.6分科幻片《异星觉醒》BD中英双字</a><span>06-09</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96927.html" title="2016年阮经天杜鹃剧情爱情片《纽约纽约》BD国语中字">2016年阮经天杜鹃剧情爱情片《纽约纽约》BD国语中字</a><span>06-03</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98065.html" title="2017年国产7.2分爱情片《喜欢你》HD高清国语中英双字">2017年国产7.2分爱情片《喜欢你》HD高清国语中英双字</a><span>06-02</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97940.html" title="2017年美国7.7分喜剧片《一条狗的使命》BD国英双语中英双字">2017年美国7.7分喜剧片《一条狗的使命》BD国英双语中英双字</a><span>05-30</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98038.html" title="2017年美国8.5分剧情片《猜火车2》BD中英双字">2017年美国8.5分剧情片《猜火车2》BD中英双字</a><span>05-26</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>迅雷电影资源</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/98223.html" title="2017年美国6.7分剧情片《骨瘦如柴》BD中字">2017年美国6.7分剧情片《骨瘦如柴》BD中字</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98221.html" title="2017年台湾6.2分剧情片《台北物语》HD高清国语中字">2017年台湾6.2分剧情片《台北物语》HD高清国语中字</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98216.html" title="2017年美国动作片《反恐特警组：潜龙突围》BD中字">2017年美国动作片《反恐特警组：潜龙突围》BD中字</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98215.html" title="2016年日本6.7分剧情片《被称作海贼的男人》BD日语中字">2016年日本6.7分剧情片《被称作海贼的男人》BD日语中字</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98214.html" title="2017年美国7.8分记录片《环药房自行车赛》BD中英双字">2017年美国7.8分记录片《环药房自行车赛》BD中英双字</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98206.html" title="2015年香港爱情片《我们停战吧》BD国粤双语中字">2015年香港爱情片《我们停战吧》BD国粤双语中字</a><span>07-19</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98205.html" title="2017年国产喜剧片《仙球大战》HD高清国语中字">2017年国产喜剧片《仙球大战》HD高清国语中字</a><span>07-19</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98198.html" title="2016年欧美7.1分灾难片《亚美尼亚大地震》HD高清中英双字">2016年欧美7.1分灾难片《亚美尼亚大地震》HD高清中英双字</a><span>07-18</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98196.html" title="2016年欧美6.3分剧情片《承诺》BD特效中英双字">2016年欧美6.3分剧情片《承诺》BD特效中英双字</a><span>07-18</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98193.html" title="2017年国产爱情片《爱爱囧事2》HD高清国语中字">2017年国产爱情片《爱爱囧事2》HD高清国语中字</a><span>07-17</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98192.html" title="2017年欧美惊悚片《魂断无人机》BD中英双字">2017年欧美惊悚片《魂断无人机》BD中英双字</a><span>07-17</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98190.html" title="2017年日本剧情片《天才麻将少女》BD日语中字">2017年日本剧情片《天才麻将少女》BD日语中字</a><span>07-15</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97955.html" title="2017年国产喜剧片《指甲刀人魔》BD国语中字">2017年国产喜剧片《指甲刀人魔》BD国语中字</a><span>07-15</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98189.html" title="2017年新加坡喜剧片《遇见贵人》HD高清中字">2017年新加坡喜剧片《遇见贵人》HD高清中字</a><span>07-15</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98188.html" title="2017年台湾喜剧片《大钓哥》HD国语中字">2017年台湾喜剧片《大钓哥》HD国语中字</a><span>07-14</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>六月经典大片</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/98212.html" title="七月经典香港8.1分动作片《监狱风云》BD国粤双语中字">七月经典香港8.1分动作片《监狱风云》BD国粤双语中字</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98197.html" title="七月经典香港7.0分喜剧片《逃学威龙3之龙过鸡年》BD国粤双语中字">七月经典香港7.0分喜剧片《逃学威龙3之龙过鸡年》BD国粤双语中字</a><span>07-18</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98191.html" title="七月经典香港7.2分喜剧片《逃学威龙2》BD国粤双语中字">七月经典香港7.2分喜剧片《逃学威龙2》BD国粤双语中字</a><span>07-16</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98186.html" title="七月经典香港7.5分喜剧片《逃学威龙》BD国粤双语中字">七月经典香港7.5分喜剧片《逃学威龙》BD国粤双语中字</a><span>07-14</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98176.html" title="七月经典香港动作片《夺帅》BD国粤双语中字">七月经典香港动作片《夺帅》BD国粤双语中字</a><span>07-12</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98171.html" title="七月经典国产7.2分动作片《新警察故事》BD国粤双语中字">七月经典国产7.2分动作片《新警察故事》BD国粤双语中字</a><span>07-10</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98165.html" title="七月经典香港7.2分动作片《警察故事4：简单任务》BD国粤双语中字">七月经典香港7.2分动作片《警察故事4：简单任务》BD国粤双语中字</a><span>07-08</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98162.html" title="七月经典香港7.3分动作片《警察故事3：超级警察》BD国粤双语中字">七月经典香港7.3分动作片《警察故事3：超级警察》BD国粤双语中字</a><span>07-06</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98158.html" title="七月经典香港7.2分动作片《警察故事续集》BD国粤双语中字">七月经典香港7.2分动作片《警察故事续集》BD国粤双语中字</a><span>07-04</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98152.html" title="七月经典香港7.6分动作片《警察故事》BD国粤双语中字">七月经典香港7.6分动作片《警察故事》BD国粤双语中字</a><span>07-02</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98146.html" title="六月经典国产7.7分动作片《黄飞鸿之狮王争霸》BD国粤双语中字">六月经典国产7.7分动作片《黄飞鸿之狮王争霸》BD国粤双语中字</a><span>06-29</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98140.html" title="六月经典香港7.7分动作片《黄飞鸿之男儿当自强》BD国粤双语中字">六月经典香港7.7分动作片《黄飞鸿之男儿当自强》BD国粤双语中字</a><span>06-27</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98137.html" title="六月经典香港7.9分动作片《黄飞鸿之壮志凌云》BD国粤双语中字">六月经典香港7.9分动作片《黄飞鸿之壮志凌云》BD国粤双语中字</a><span>06-25</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98132.html" title="六月经典香港7.1分动作片《福星高照》BD国粤双语中字">六月经典香港7.1分动作片《福星高照》BD国粤双语中字</a><span>06-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98126.html" title="六月经典香港7.1分动作片《夏日福星》BD国粤双语中字">六月经典香港7.1分动作片《夏日福星》BD国粤双语中字</a><span>06-21</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>华语电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/97744.html" title="2017年香港港台剧《爱回家之开心速递》连载至109">2017年香港港台剧《爱回家之开心速递》连载至109</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98122.html" title="2017年香港港台剧《赌城群英会(粤语)》连载至25">2017年香港港台剧《赌城群英会(粤语)》连载至25</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98123.html" title="2017年香港港台剧《赌城群英会(国语)》连载至25">2017年香港港台剧《赌城群英会(国语)》连载至25</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98154.html" title="2017年大陆国产剧《复合大师》连载至41">2017年大陆国产剧《复合大师》连载至41</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98159.html" title="2017年大陆国产剧《我的前半生》连载至37">2017年大陆国产剧《我的前半生》连载至37</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98174.html" title="2017年大陆国产剧《我们的少年时代》连载至26">2017年大陆国产剧《我们的少年时代》连载至26</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98185.html" title="2017年大陆国产剧《醉玲珑》连载至8">2017年大陆国产剧《醉玲珑》连载至8</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98199.html" title="2017年香港港台剧《超时空男臣(国语)》连载至5">2017年香港港台剧《超时空男臣(国语)》连载至5</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98201.html" title="2017年香港港台剧《超时空男臣(粤语)》连载至5">2017年香港港台剧《超时空男臣(粤语)》连载至5</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98203.html" title="2017年香港港台剧《玛嘉烈与大卫:前度》连载至5">2017年香港港台剧《玛嘉烈与大卫:前度》连载至5</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98217.html" title="2017年大陆国产剧《春风十里不如你 / 北京，北京》连载至5">2017年大陆国产剧《春风十里不如你 / 北京，北京》连载至</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98218.html" title="2017年大陆国产剧《河神》连载至4">2017年大陆国产剧《河神》连载至4</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98219.html" title="2017年大陆国产剧《鬼吹灯之黄皮子坟》连载至6">2017年大陆国产剧《鬼吹灯之黄皮子坟》连载至6</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98075.html" title="2017年大陆国产剧《楚乔传》连载至56">2017年大陆国产剧《楚乔传》连载至56</a><span>07-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98097.html" title="2017年大陆国产剧《上古情歌》连载至42">2017年大陆国产剧《上古情歌》连载至42</a><span>07-20</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>日韩电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/98211.html" title="2017年韩国日韩剧《再次相遇的世界》连载至4">2017年韩国日韩剧《再次相遇的世界》连载至4</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98210.html" title="2017年韩国日韩剧《死而复生的男人》连载至4">2017年韩国日韩剧《死而复生的男人》连载至4</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98108.html" title="2017年韩国日韩剧《秘密森林》连载至13">2017年韩国日韩剧《秘密森林》连载至13</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98107.html" title="2017年韩国日韩剧《有品位的她》连载至12">2017年韩国日韩剧《有品位的她》连载至12</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98083.html" title="2017年韩国日韩剧《多样的儿媳》连载至35">2017年韩国日韩剧《多样的儿媳》连载至35</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98074.html" title="2017年韩国日韩剧《Duel/决斗》连载至15">2017年韩国日韩剧《Duel/决斗》连载至15</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98057.html" title="2017年韩国日韩剧《木槿花开了》连载至40">2017年韩国日韩剧《木槿花开了》连载至40</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98067.html" title="2017年韩国日韩剧《七日的王妃》连载至16">2017年韩国日韩剧《七日的王妃》连载至16</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98011.html" title="2017年韩国欧美剧《小偷家伙-小偷先生》连载至21">2017年韩国欧美剧《小偷家伙-小偷先生》连载至21</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97796.html" title="2017年韩国日韩剧《你太过分了》连载至39">2017年韩国日韩剧《你太过分了》连载至39</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97794.html" title="2017年韩国日韩剧《爸爸好奇怪》连载至41">2017年韩国日韩剧《爸爸好奇怪》连载至41</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97774.html" title="2017年韩国日韩剧《那个女人的大海》连载至105">2017年韩国日韩剧《那个女人的大海》连载至105</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98058.html" title="2017年韩国日韩剧《我的野蛮女友(电视剧）》连载至32">2017年韩国日韩剧《我的野蛮女友(电视剧）》连载至32</a><span>07-21</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98202.html" title="2017年韩国日韩剧《王在相爱》连载至4">2017年韩国日韩剧《王在相爱》连载至4</a><span>07-20</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98200.html" title="2017年美国欧美剧《学校2017》连载至2">2017年美国欧美剧《学校2017》连载至2</a><span>07-20</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>欧美电视剧</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/98222.html" title="2017年美国欧美剧《黑钱胜地第一季》连载至4">2017年美国欧美剧《黑钱胜地第一季》连载至4</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98208.html" title="2017年美国欧美剧《生死狙击第二季》连载至1">2017年美国欧美剧《生死狙击第二季》连载至1</a><span>07-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98207.html" title="2017年美国欧美剧《胡顿与女爵第一季》连载至1">2017年美国欧美剧《胡顿与女爵第一季》连载至1</a><span>07-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98106.html" title="2017年美国欧美剧《血路狂飙第一季》连载至6">2017年美国欧美剧《血路狂飙第一季》连载至6</a><span>07-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98204.html" title="2017年美国欧美剧《权欲第四季》连载至4">2017年美国欧美剧《权欲第四季》连载至4</a><span>07-20</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98195.html" title="2017年美国欧美剧《血族第四季》连载至1">2017年美国欧美剧《血族第四季》连载至1</a><span>07-20</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98194.html" title="2017年美国欧美剧《权力的游戏第七季》连载至1">2017年美国欧美剧《权力的游戏第七季》连载至1</a><span>07-19</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98151.html" title="2017年美国欧美剧《天赋异人第二季》连载至3">2017年美国欧美剧《天赋异人第二季》连载至3</a><span>07-18</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/98073.html" title="2017年美国欧美剧《行尸之惧第三季》连载至8">2017年美国欧美剧《行尸之惧第三季》连载至8</a><span>07-13</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97930.html" title="2017年美国欧美剧《神秘博士第十季》连载至12">2017年美国欧美剧《神秘博士第十季》连载至12</a><span>07-04</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97697.html" title="2017年美国欧美剧《我不是超人/无能为力第一季》连载至10">2017年美国欧美剧《我不是超人/无能为力第一季》连载至1</a><span>07-02</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97895.html" title="2017年美国欧美剧《我是僵尸第三季》连载至13">2017年美国欧美剧《我是僵尸第三季》连载至13</a><span>07-01</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97962.html" title="2017年美国欧美剧《冰血暴第三季》连载至10">2017年美国欧美剧《冰血暴第三季》连载至10</a><span>06-25</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97913.html" title="2017年美国欧美剧《绝命律师/风骚律师第三季》连载至10">2017年美国欧美剧《绝命律师/风骚律师第三季》连载至10</a><span>06-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/97975.html" title="2017年美国欧美剧《美国众神第一季》连载至8">2017年美国欧美剧《美国众神第一季》连载至8</a><span>06-21</span></li>
			</ul>
		</div>

		<div class="movie">
			<div class="title">
				<h3>综艺&动漫</h3>
				<a target="_blank" href="#">更多>></a>
			</div>
			<ul>
				<li><a target="_blank" href="http://www.dy2018.com/i/96972.html" title="2014年港台综艺《爱玩客》连载至20170720">2014年港台综艺《爱玩客》连载至20170720</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96857.html" title="2014年大陆综艺《星光大道》连载至20170721">2014年大陆综艺《星光大道》连载至20170721</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96697.html" title="2014年港台综艺《食尚玩家》连载至20170720">2014年港台综艺《食尚玩家》连载至20170720</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96689.html" title="2011年港台综艺《天才冲冲冲》连载至20170722">2011年港台综艺《天才冲冲冲》连载至20170722</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96675.html" title="2014年大陆综艺《快乐大本营》连载至20170722">2014年大陆综艺《快乐大本营》连载至20170722</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96673.html" title="2011年大陆综艺《非诚勿扰》连载至20170722">2011年大陆综艺《非诚勿扰》连载至20170722</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96665.html" title="2014年港台综艺《综艺大热门》连载至20170720">2014年港台综艺《综艺大热门》连载至20170720</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96664.html" title="2014年港台综艺《型男大主厨》连载至20170721">2014年港台综艺《型男大主厨》连载至20170721</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96662.html" title="2014年港台综艺《娱乐百分百》连载至20170721">2014年港台综艺《娱乐百分百》连载至20170721</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96661.html" title="2014年港台综艺《女人我最大》连载至20170721">2014年港台综艺《女人我最大》连载至20170721</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96657.html" title="2011年大陆综艺《天天向上》连载至20170721">2011年大陆综艺《天天向上》连载至20170721</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/94406.html" title="2014年日韩动漫《名侦探柯南》连载至879">2014年日韩动漫《名侦探柯南》连载至879</a><span>07-23</span></li>
				<li><a target="_blank" href="/html/dongman/haizeiwangqu/20120506/37647.html" title="2014年日韩动漫《海贼王》连载至798">2014年日韩动漫《海贼王》连载至798</a><span>07-23</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96866.html" title="2015年大陆综艺《金星秀》连载至20170719">2015年大陆综艺《金星秀》连载至20170719</a><span>07-22</span></li>
				<li><a target="_blank" href="http://www.dy2018.com/i/96700.html" title="2016年台湾综艺《小明星大跟班》连载至20170720">2016年台湾综艺《小明星大跟班》连载至20170720</a><span>07-22</span></li>
			</ul>
		</div>
	</div>

	<div class="footer">
		<div class="ad"></div>
		<div class="copyrignt">
			<p>Copyright @ 2006-2017 All Rights Reserved. 本站所有电影均为网络内容，如有侵权请联系客服删除！</p>
		</div>
	</div>
</div>
</body>
</html>